/* Import Google Font - Poppins */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "Poppins", sans-serif;
}
body {
	display: flex;
	flex-direction: column;
	align-items: center;
	/* justify-content: center; */
	justify-content: space-evenly;
	width: 100%;
	margin: 0 auto;
	/* min-height: 100vh; */
	height: 100vh;
	background: #ddd37d;
}
h1#title {
	color: #333;
	font-size: 2rem;
	padding: 0.6rem;
	border: 1px solid #222;
	animation: memory 1.8s linear infinite;
}
@keyframes memory {
	0% {
		filter: hue-rotate(10%);
		opacity: 1;
	}
	25% {
		opacity: 0;
	}
	50% {
		opacity: 1;
	}
	100% {
		filter: hue-rotate(50);
		opacity: 0;
	}
}
.wrapper {
	height: 80%;
	min-width: 50%;
	width: 40vw;
	/* aspect-ratio: 1/1; */
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	padding: 25px;
	border-radius: 10px;
	background: #f8f8f8;
	box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
}
#start_menu {
	width: 100%;
	height: 90%;
	text-align: center;
	display: none;
}
#start_menu.display {
	display: block;
}
#start_menu h3 {
	padding: 1rem;
	cursor: pointer;
}
#stat {
	width: 80%;
	margin: 0 1rem 1rem 1rem;
	padding: 0.5rem;
	color: #555;
	display: none;
}
#stat.display {
	display: flex;
	align-items: center;
	justify-content: space-around;
}

.cards {
	/* width: 100%; */
	max-height: calc(100% / 1 - 0.1rem);
	height: calc(100% / 1 - 0.1rem);
	aspect-ratio: 1/1;
	display: none;
	gap: 0.8rem;
	transition: all 0.3s linear;
}
#board.display {
	display: grid;
	grid-template-columns: repeat(var(--colm), 1fr);
	grid-template-rows: auto;
	align-content: center;
	align-items: start;
	justify-items: start;
	justify-content: center;
}
.card,
.view {
	width: 100%;
	/* height: 100%; */
	aspect-ratio: 1/1;
	display: flex;
	align-items: center;
	justify-content: center;
}
.cards .card {
	cursor: pointer;
	list-style: none;
	user-select: none;
	position: relative;
	perspective: 1000px;
	transform-style: preserve-3d;
}
.card.shake {
	animation: shake 0.3s ease-in-out;
}
.card.disappear {
	animation: disappear 0.3s linear;
}
@keyframes shake {
	0%,
	100% {
		transform: translateX(0);
	}
	20% {
		transform: translateX(-8%);
	}
	40% {
		transform: translateX(8%);
	}
	60% {
		transform: translateX(-5%);
	}
	80% {
		transform: translateX(5%);
	}
}
@keyframes disappear {
	0% {
		filter: blur(0px);
		transform: scale(1);
	}
	25% {
		filter: blur(5px);
		transform: scale(0.9);
	}
	50% {
		filter: blur(10px);
		transform: scale(0.7);
	}
	75% {
		filter: blur(15px);
		transform: scale(0.3);
	}
	100% {
		filter: blur(50px);
		transform: scale(0);
	}
}
.card .view {
	width: 100%;
	height: 100%;
	position: absolute;
	border-radius: 7px;
	overflow: hidden;
	background: #fff;
	pointer-events: none;
	user-select: none;
	backface-visibility: hidden;
	box-shadow: 0 3px 10px rgba(0, 0, 0, 0.1);
	transition: transform 0.25s linear;
}
.card .front-view img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}
.card .back-view img {
	width: 70%;
	aspect-ratio: 1/1;
	object-fit: cover;
}
.card .back-view {
	transform: rotateY(-180deg);
}
.card.flip .back-view {
	transform: rotateY(0);
}
.card.flip .front-view {
	transform: rotateY(180deg);
}
/* =======result section=========== */
#result {
	padding: auto;
	display: none;
	height: 80%;
	transition: all 0.3;
}
#result.display {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-self: center;
}
#result #action {
	width: 100%;
	text-align: center;
}
#result h1 {
	color: #35ff85;
	font-size: 3rem;
	/* margin: 3rem auto; */
}
#result button {
	display: block;
	margin: 1rem auto;
	width: 100%;
	font-size: 1.5rem;
	padding: 0.8rem 1rem;
	border-radius: 10px;
	color: #666;
	background-color: #aaa;
	/* border: 1px solid #444; */
	border: none;
	outline: none;
	cursor: pointer;
}
#result button:hover {
	color: #555;
	background-color: #bbb;
}

/* ==============media quary========== */
@media screen and (max-width: 700px) {
	/* .cards {
		height: 350px;
		width: 350px;
	}
	.card .front-view img {
		width: 17px;
	}
	.card .back-view img {
		max-width: 40px;
	} */
}

@media screen and (max-width: 600px) {
	.wrapper {
		width: 100%;
		padding: 10px;
	}
	#board {
		height: auto;
		width: 100%;
		aspect-ratio: 1/1;
	}
}
/* /////============== */
.menus {
	width: 95%;
	height: 40%;
	display: flex;
	text-align: left;
	justify-content: space-evenly;
	margin: 3rem auto 1rem auto;
}
#startGame {
	font-size: 1.5rem;
	letter-spacing: 0.5rem;
	color: #444;
	transition: all 0.2s linear;
}
#startGame:hover {
	font-size: 1.2rem;
	color: #222;
	letter-spacing: 0.1rem;
	transform: scale(1.1);
}
/* //W3 custom menu */
.custom-select {
	position: relative;
	height: fit-content;
	width: 40%;
	--clr: #555;
	--bg: #ccc;
}

.custom-select select {
	/*hide original SELECT element: */
	display: none;
}

.select-selected {
	background-color: var(--bg);
	position: relative;
}

/* Style the arrow inside the select element: */
.select-selected:after {
	position: absolute;
	content: "";
	top: 50%;
	right: 10px;
	width: 0;
	height: 0;
	border: 6px solid transparent;
	border-color: var(--clr) transparent transparent transparent;
}

/* Point the arrow upwards when the select box is open (active): */
.select-selected.select-arrow-active:after {
	border-color: transparent transparent var(--clr) transparent;
	top: 30%;
}

/* style the items (options), including the selected item: */
.select-items div,
.select-selected {
	color: var(--clr);
	padding: 8px 30px 8px 16px;
	border: 1px solid transparent;
	border-color: transparent transparent rgba(0, 0, 0, 0.1) transparent;
	cursor: pointer;
}

/* Style items (options): */
.select-items {
	position: absolute;
	background-color: var(--bg);
	/* top 100% means end of sel-selected(show_case)
	 ie only display of our parent cutom menu */
	top: 100%;
	left: 0;
	right: 0;
	z-index: 99;
}

/* Hide the items when the select box is closed: */
.select-hide {
	display: none;
}

.select-items div:hover,
.same-as-selected {
	background-color: rgba(0, 0, 0, 0.2);
}
